h1 {
  text-align: center;
}

.basicinfo {
  display: flex;
  justify-content: space-around;
}

/* .subcommittee {
  list-style: none;
} */

/* article {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */